body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #003282;
}
.nim {
    color: #ffbf00; 
}
.nama {
    color: #458b74;
}
.kampus {
    color: #0000ff;
}
.jurusan {
    color: #ffc1cc;
}